@{
  Layout="Shared/_Layout.cshtml";
}

<h1>To Do List</h1>
<h2>Object2: @Model["object2"].GetName()</h2>
<hr />
@if (@Model["object2Object1s"].Count != 0)
{
  <h4>This object2 has these object1s:</h4>
  <ul>
    @foreach (var object1 in @Model["object2Object1s"])
    {
      <li><a href="/object1s/@object1.GetId()">@object1.GetName()</a></li>
    }
  </ul>
}
<h4>Add a object1 to this object2:</h4>
<form action='/object2/add_object1' method='post'>
  <input id='object2-id' name='object2-id' type='hidden' value='@Model["object2"].GetId()'>
  <label for='object1-id'>Select a object1</label>
  <select id='object1-id' name='object1-id' type='text'>
    @foreach (var object1 in @Model["allObject1s"])
    {
      <option value='@object1.GetId()'>@object1.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
  <h4><a href="/object2s/update/@Model["object2"].GetId()">Update this object2</a></h4>

  </form>
  <form action="/object2/delete/@Model["object2"].GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
<p><a href="/">Return to Main Page</a></p>
