@{
  Layout="Shared/_Layout.cshtml";
}

<h1>To Do List</h1>
<h2>Object1: @Model["object1"].GetName()</h2>
<hr />
@if (@Model["object1Object2s"].Count != 0)
{
  <h4>Here are all the object2s in this object1:</h4>
  <ul>
    @foreach (var object2 in @Model["object1Object2s"])
    {
      <li><a href='/object2s/@object2.GetId()'>@object2.GetName()</a>
        <a class="leftmargin btn-sm btn-success" href="/object2s/update/@object2.GetId()">Update</a>
        <a class="leftmargin btn-sm btn-danger" href="/object2s/delete/@object2.GetId()">Delete</a>
      </li>
    }
  </ul>
}
<h4>Add a object2 to this object1:</h4>
<form action='/object1/add_object2' method='post'>
  <input id='object1-id' name='object1-id' type='hidden' value='@Model["object1"].GetId()'>
  <label for='object2-id'>Select a object2</label>
  <select id='object2-id' name='object2-id' type='text'>
    @foreach (var object2 in @Model["allObject2s"])
    {
      <option value='@object2.GetId()'>@object2.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr>
<h4><a href="/object1s/update/@Model["object1"].GetId()">Update this object1</a></h4>

<form action="/object1/delete/@Model["object1"].GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>

<p><a class="btn-sm btn-primary" href="/">Return to Main Page</a></p>
