@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Recipie Box</h1>
<h2>Recipie: @Model["recipie"].GetName()</h2>
<h3>Rating: @Model["recipie"].GetRating() stars</h3>
<hr />
@if (@Model["recipieIngredients"].Count != 0)
{
  <h4>Ingredients:</h4>
  <ul>
  @foreach (var ingredient in @Model["recipieIngredients"])
  {
    <li>@ingredient.GetQuantity()  @ingredient.GetName()</li>
  }
  </ul>
}
<h4>Add an ingredient to this recipie</h4>
<form action='/recipie/add_ingredient'>
  <input id='recipie-id' name='recipie-id' type='hidden' value='@Model["recipie"].GetId()'>
  <button type='submit'>Add</button>
</form>
<hr />
@if (@Model["recipieInstructions"].Count != 0)
{
  <h4>Instructions:</h4>
  <ol>
  @foreach (var instruction in @Model["recipieInstructions"])
  {
    <li>@instruction.GetName()</li>
  }
  </ol>
}
<h4>Add an instruction to this recipie</h4>
<form action='/recipie/add_instruction'>
  <input id='recipie-id' name='recipie-id' type='hidden' value='@Model["recipie"].GetId()'>
  <button type='submit'>Add</button>
</form>
<hr />
@if (@Model["recipieTags"].Count != 0)
{
  <h4>This recipie has these tags:</h4>
  <ul>
    @foreach (var tag in @Model["recipieTags"])
    {
      <li><a href="/tags/@tag.GetId()">@tag.GetName()</a></li>
    }
  </ul>
}
<h4>Add a tag to this recipie:</h4>
<form action='/recipie/add_tag' method='post'>
  <input id='recipie-id' name='recipie-id' type='hidden' value='@Model["recipie"].GetId()'>
  <label for='tag-id'>Select a tag</label>
  <select id='tag-id' name='tag-id' type='text'>
    @foreach (var tag in @Model["allTags"])
    {
      <option value='@tag.GetId()'>@tag.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr />
<h4><a href="/recipies/update/@Model["recipie"].GetId()">Update this recipie</a></h4>
<form action="/recipie/delete/@Model["recipie"].GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button class="leftmargin btn-sm btn-danger" type="submit">Delete</button>
</form>
<p class="centered"><a href="/">Return to Main Page</a></p>
